@let(title = "Salut")

@include('partials/head')

<h1>Les Recettes</h1>

<div class="">

  <ul>
    @each(recipe in recipes)
    <li>{{recipe.name}}</li>

    @end
  </ul>
</div>

@include('partials/footer')